/node_modules
/public/hot
/public/storage
/public/apidoc
/socket/node_modules/
/socket/dist/
/socket/.env
/socket/package-lock.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
